.task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}


.task-panel {
  border-radius: 1rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease-in-out;
  

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition-duration:200ms;
  }

}


.task-panel.completed {
  opacity: 0.7;
  border-left: 5px solid #28a745;
}

.task-panel.overdue {
  border-left: 5px solid #e53935;
}

.task-actions button {
  transition: all 0.1s;
}




